*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    width: 100%;
    height: 90px;
}
.head-top{
    height: 30px;
    color: white;
    background-color: black;
    text-align: end;
    line-height: 30px;
}
.cc-btn-b{
    border: none;
}
.cc-btn-c{
    color: white;
    border-radius: 20px;
}
.fa-chevron-down{
    font-size: 10px;
}
.link-now{
    margin-left: 300px;
}

.header-bottom .logo-page{
    width: 90px;
    background-color: green;
}
.section-1{
    height: 600px;
    background-image: url('../img/returnal-listing-thumb-01-ps5.jpg');
    
    background-position: center;
}
.container-1{
    padding-top: 300px;
    color: white;
}
.cc-primo-btn{
    border-radius: 20px;
    background-color: #CD3D0F;
    border-color: #CD3D0F;
}
.container-full{
    width: 90%;
    margin: 0 auto;
}
.container-2{
    height: 90px;
}
.container-2 .row .box{
    height: 65px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.container-2 .box1, .container-2 .box3, .container-2 .box5{
    background-image: url('../img/jumbo-bg.png');
}
.container-2 .box2, .container-2 .box4, .container-2 .box6{
    background-image: url('../img/ratchet-and-clank-rift-apart-keyart.jpg');
}
.container-play .titolo{
    text-align: center;
}
.container-play .info-image{
    display: flex;
    justify-content: space-between;
}
.container-play .col-info{
    display: flex;
    align-items: center;
}
.container-play .cc-btn-play{
    border-radius: 20px;
}
.container-play .image{
    min-height: 400px;
}
img{
    width: 100%;
}
.row-play{
    display: flex;
}
.row-play .bord{
    border-bottom: 1px solid white;
}
.row-play .bord:hover{
    border-bottom: 1px solid blue;
}
.box-play{
    
}
.section-2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}
.section-2 .logo1{
    width: 200px;
    
}
.container-3 {
    color: white;
    padding-top: 50px;
}
.container-3 .testo{
    padding-top: 40px;
}
.section-3{
    min-height: 500px;
    background-color: #1F1F1F;
}
.container-4{
    color: white;
}
.row-giochi .box{
    background-color: orange;
    border-radius: 15px;
    overflow: hidden;
}
.container-5{
    min-height: 400px;
}
.container-5 .titolo{
    text-align: center;
}
.container-5 .row .box{
    background-color: orange;
}
.container-5 .experience, .container-5 .text{
    color: gray;
}
.container-5 .cc-scopri{
    border-radius: 20px;
}

.section-4{
    min-height: 400px;
    background-color: #BEBCBB;
    background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
    background-position: right;
    background-size: 619px;
    background-repeat: no-repeat;
}
.container-6 .logo{
    width: 400px;
}
.container-6 .cc-btn-esplora{
    color: #0B5ED7;
    background-color: #D9DADC;
    border-radius: 15px;
    border: none;
}

.container-7 .titolo{
    text-align: center;
}
.container-7 .row .box{
    background-color: red;
}
.section-5{
    background-color: #161C3B;
    background-image: url(../img/ps-now-april-featured-image-block.png);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: right;
}
.container-8{
    min-height: 400px;
}
.container-8 .logo-titolo{
    width: 400px;
}
.container-8 .text{
    color: gray;
}
.container-8 .cc-btn-play-now{
    color: black;
    background-color: white;
    border-radius: 20px;
    border-color: white;
}
.container-9{
    text-align: center;
}
.container-9 .box{
    background-color: green;
    cursor: pointer;
}


.section-6{
    background-color: #00439C;
}
.container-10{
    min-height: 500px;
    color: white;
}
.container-10 .logo-footer{
    width: 100px;
}
.container-10 .logo-footer img{
    filter: brightness(0) invert(1);
    backgrounf-color: white;
}

.container-10 .lista-n li, .lista-n2 li, .lista-n3 li{
    list-style: none;
}
.container-10 .image-footer{
    width: 200px;
}
.container-10 p{
    font-size: 13px;
    margin-top: 10px;
    padding-bottom: 70px;
}